.bg-grey {
    background-color: #f7f7f7;
}

.bottom {
    height: 74px;
}

.carousel-item {
    height: 400px;
    background-color: #343a40;
    padding-top: 15px;
}

.bg-black{
    background-color: #343a40;
}

.color-black {
    color: black;
}

.bg-wh {
    background-color: white;
}

.titre-frein {
    margin-right: 3rem;
}

iframe {
    width: 100%;
    border: 0;
    margin: 0 0;
    z-index: 100;
    height: 886px;
}
.logo-iut{
    width: 150px;
    margin-top: 12px;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display: none;
}

.quizz-fenetre {
    margin-top: 9px;
}

#container {
    width: 50%;
    margin: auto;
}

.paddingbottom{
    padding-bottom: 25px!important;
}



.colonne {
    padding: 0!important;
}

.imgtete{
    margin-bottom: 20px;
    width: 200px;
    height: auto;
    margin-top: 75px;
}
.imggauche{
    margin-right: 12px;
    margin-top: 27px;
}
.imgdroite{
    margin-left: 7px;
    margin-top: 75px;
}

.petit-image{
    display: none;
}
.principe-texte{
    margin-bottom: 3rem;
}
.boutique{
  width: 50%;
  margin-bottom: 30px;
  margin-left: 10px;
}
.texte-boutique{
    padding: 0!important;
}
.tres{
    margin-top: 15px!important;
}



#prev, #start, #next {
    display: none;
    margin: 0.2rem;
    margin-top: 0.4rem;
}
.crypto-text{
    margin-top: 0;
}


@media screen and (max-width: 1465px) {
    #petit-ecran {
        flex-direction: column;
    }
    iframe {
        height: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .image-mecs{
        flex-direction: column;
    }
    .gros{
        display: none;
    }
    .petit-image{
        display: unset;
    }
    .boutique{
        display: none;
    }

}
@media screen and (max-width: 575px) {
.footer-colonne{
    flex-direction: column-reverse;
    align-items: center;
}
.logo-iut{
    margin-top: 10px;
}

}

