@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Oswald|Yanone+Kaffeesatz');
#myCarousel p {
    font-family: 'Oswald', sans-serif;
    margin: 0 0;
    margin-bottom: 2px;
    letter-spacing: .1rem;
}

article h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1.2rem;
}

article p {
    font-family: 'Abel', sans-serif;
}
.entete{
    font-size: 18px;
}

.copyright-2019 {
    margin-bottom: 0;
}

article h1, article h3 {
    color: #343a40;
}

article h1 {
    font-family: 'Abril Fatface', cursive;
}

#myCarousel h3 {
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.font-abril {
    font-family: 'Abril Fatface', cursive;
}

.font-yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.font-abel {
    font-family: 'Abel', sans-serif;
}

@media screen and (min-width: 405px) and (max-width:600px) {
    #myCarousel h3 {
        font-size: 1.8rem;
        line-height: 1.6;
    }
    #lea {
        font-size: 12px!important;
    }
    #myCarousel p {
        font-size: 13px;
    }
}

@media screen and (min-width: 320px) and (max-width:405px) {
    #myCarousel h3 {
        font-size: 1.6rem;
        line-height: 2.2;
    }
    #lea {
        font-size: 11px!important;
    }
    #myCarousel p {
        font-size: 12px;
    }
}

@media screen and (min-width: 770px) and (max-width:1199px) {
    .titre-frein {
        padding-top: 38.5px;
    }
    .main-main{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:770px) {
    .colonne {
        flex-direction: column!important;
    }
    h3{
     font-size: 5vw!important;   
    }

}
@media screen and (max-width:1199px) {

    .main-main2{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:785px){
    h1{
        font-size: 5.1vw!important;
    }

}