@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Amatic SC', cursive;
}
html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Amatic SC', cursive;
}

.image-scroll {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.image-scroll h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}

.img-parallax {
  filter: sepia(42%);
  -webkit-filter: sepia(42%);
  -moz-filter: sepia(42%);
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none
}