html {
    scroll-behavior: smooth;
}

.logoorange {
    width: 3rem
}

/*sticky header position*/

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.color-wh{
    color: white!important;
}
#menu-button{
    background-color: white;
}
.carousel-itemm{
height: 417px!important;
padding-top: 17px!important;
}
